.album {
    width: 320px;
    height: 320px;
    position: relative;
    box-shadow: 0px 0px 10px #000;
    border-radius: 50%;
    background: linear-gradient(#101012, #272729, #101012);
    cursor: pointer;
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    &.active {
        animation-play-state: running;
        -webkit-animation-play-state: running;
    }

    .ring {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 4px solid #101012;
        background: linear-gradient(45deg, #101012, #eaeaf3);
    }

    .icon {
        padding: 0;
        box-sizing: border-box;
        height: 25%;
        width: 25%;
        position: absolute;
        top: 37.5%;
        left: 37.5%;
        border-style: solid;
        border-width: 40px 0 40px 80px;
        border-color: transparent transparent transparent rgba(255, 208, 0, .9);
        transition: all .5s ease-in-out;
        &.active {
            border-style: double;
            border-width: 0 0 0 80px;
        }
    }

    .cover {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
        border-radius: 50%;
        border: 5px solid #000000;
        box-sizing: border-box;
    }
}

@keyframes rotate {
	0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}